---
import PlaygroundLayout from "../../../layouts/playground.astro";
import RadialText from "./radial-text.astro";
import DotGrid from "./dot-grid.astro";
import FilmGrain from "./film-grain.astro";
import LayoutGrid from "./layout-grid.astro";

const PLANET_IMAGE_SIZE = 460;
const PLANET_IMAGE_BG_SIZE = PLANET_IMAGE_SIZE * 4;
---

<PlaygroundLayout title="Circle Text">
    <div
        class="flex w-full h-screen overflow-hidden justify-center items-center relative container text-container"
    >
        <div
            class="planet-container"
            style={`width: ${PLANET_IMAGE_SIZE}px; height: ${PLANET_IMAGE_SIZE}px; pointer-events: none; position: relative;`}
        >
            <div class="planet">
                <div
                    style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); z-index: 6;"
                >
                    <RadialText
                        text="Blue Planet Future Innovation Lab"
                        radius={220}
                        fontSize={12}
                        letterSpacing={6}
                        wordSpacing={4}
                        separatorSpacing={16}
                        separator="•"
                        inside={false}
                        reverse={false}
                    />
                </div>

                <div
                    class="planet-wrapper"
                    style={{
                        width: `${PLANET_IMAGE_SIZE}px`,
                        height: `${PLANET_IMAGE_SIZE}px`,
                    }}
                >
                    <div
                        class="planet-overlay-effect"
                        style={{
                            margin: `${PLANET_IMAGE_SIZE * 0.06}px`,
                            width: `${PLANET_IMAGE_SIZE * 0.88}px`,
                            height: `${PLANET_IMAGE_SIZE * 0.88}px`,
                        }}
                    >
                    </div>
                    <img
                        src="/img/playground/circle-text/planet.png"
                        alt="Planet"
                        width={PLANET_IMAGE_SIZE}
                        height={PLANET_IMAGE_SIZE}
                        class="planet-image"
                    />
                </div>
            </div>
            <svg
                class="planet-decoration"
                style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); z-index: 1;"
                width="150%"
                height="150%"
            >
                <line
                    x1="-25%"
                    y1="50%"
                    x2="125%"
                    y2="50%"
                    stroke="rgba(255,255,255,0.08)"
                    stroke-width="2"></line>
                <line
                    x1="50%"
                    y1="-25%"
                    x2="50%"
                    y2="125%"
                    stroke="rgba(255,255,255,0.08)"
                    stroke-width="2"></line>
                <circle
                    cx="50%"
                    cy="50%"
                    r="280px"
                    stroke="rgba(255,255,255,0.08)"
                    stroke-width="2"
                    fill="none"></circle>
                <circle
                    cx="50%"
                    cy="50%"
                    r="320px"
                    stroke="rgba(255,255,255,0.08)"
                    stroke-width="2"
                    fill="none"></circle>
                <circle
                    cx="50%"
                    cy="50%"
                    r="220px"
                    stroke="rgba(255,255,255,0.06)"
                    stroke-width="2"
                    fill="none"></circle>
            </svg>
        </div>
        <div class="dot-grid-container">
            <DotGrid />
        </div>
        <FilmGrain />
    </div>
</PlaygroundLayout>

<style>
    * {
        margin: 0;
    }

    html {
        color: #fff;
        background-color: #010101;
        margin: 0;
        padding: 0;
        height: 100vh;
        font-family: "SF Mono", "SFMono-Regular", Consolas, "Liberation Mono",
            Menlo, Courier, monospace;
    }
    body {
        color: #fff;
        background-color: #010101;
        width: 100vw;
        height: 100vh;
        overflow: hidden;
        position: relative;
        margin: 0;
        padding: 0;
    }

    .text-container {
        margin: 0;
        padding: 0;
        position: fixed;
        top: 2rem;
        left: 2rem;
        z-index: 9;
    }

    .planet-container {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        /* overflow: hidden; */
    }

    .dot-grid-container {
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: 9;
    }

    .planet-container {
        position: relative;
    }

    .planet {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        display: flex;
        width: 100vw;
        height: 100vh;
        justify-content: center;
        align-items: center;
        z-index: 4;
    }

    .planet-wrapper {
        position: absolute;
        width: var(--planet-image-size);
        height: var(--planet-image-size);
    }

    .planet-image {
        background-blend-mode: overlay;
        filter: drop-shadow(0 0 24px rgba(0, 0, 0, 0.5));
        z-index: 3;
    }

    .planet-overlay-effect {
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 50%;
        overflow: hidden;
        z-index: 5;
    }

    .planet-decoration {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 6;
    }

    .planet-image-bg {
        position: absolute;
        top: 50%;
        left: 0%;
        transform: translate(-50%, -50%);
        opacity: 0.1;
        z-index: 2;
    }
</style>
